@page
@model BottomTextLMS.Pages.Submissions.AllSubmissionsDeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Submission</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.HasSubmitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.HasSubmitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.Assignment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.Assignment.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.FileSubmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.FileSubmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.TextSubmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.TextSubmission)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Submission.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
