@page
@model BottomTextLMS.Pages.Submissions.AllSubmissionsDetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Submission</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.HasSubmitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.HasSubmitted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.Assignment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.Assignment.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.FileSubmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.FileSubmission)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Submission.TextSubmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Submission.TextSubmission)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Submission.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
